<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/vue.js"></script>
    <title>姓名案例-compited</title>
 </head>
<body>
    <div id="root">
        姓:<input type=text v-model="firstName">
        名:<input type=text v-model="lastName">
        <!-- 需要的属性不存在,需要通过已有的属性计算得到 -->
        全名:<span>{{fullName}}</span>
   </div>

    <script type = 'text/javascript'>
        Vue.config.productionTip = false
        new  Vue({
            el:'#root',
            data:{
                firstName:"张",
                lastName:"三"
            },
            computed:{
                fullName(){
                    set(value){
                            
                    },
                    get(){

                    }
                }
            }
        })
    </script>
</body>
</html>
