<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>基本列表</title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<!-- 遍历数组 -->
			<h3>人员列表(遍历数组)</h3>
			<!--v-for  key:每个节点的标识,且唯一 -->
			<ul v-for="p in persons" :key="p.id">{{p.name}}-{{p.age}}</ul>
			<!-- 语法:(element,index) of array  :key='索引值' -->
			<ul v-for="(p,index) of persons" :key="index">{{index}},{{p.name}}-{{p.age}}</ul>

			<!-- 遍历对象 -->
			<!-- 语法:(属性值,属性名称) of 对象  :key='属性值' -->
			<ul v-for="(value,k) of car" :key="k">{{k}}-{{value}}</ul>

			<!-- 遍历字符串 -->
			<!-- 语法:(字符,索引) of 字符串  :key='索引' -->
			<ul v-for="(char,index) of str" :key="k">{{index}}-{{char}}</ul>

			<!-- 遍历(数值)指定次数 -->
			<!-- 语法:(字符,索引) of 字符串  :key='索引' -->
			<ul v-for="(number,index) of 5" :key="index">{{index}}-{{number}}</ul>
		</div>
		
	</body>

	<script type="text/javascript">
		Vue.config.productionTip = false
		
		const vm = new Vue({
			el:'#root',
			data:{
				persons:[
					{id:"001",name:"张三",age:10},
					{id:"002",name:"李四",age:20},
					{id:"003",name:"王吴",age:33}
				],
				car:{
					name:"奥迪",
					price:"70万",
					color:"黑色"
				},
				str:'hello'				
			}
		})
	</script>
</html>